<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin/user/{id}(id=${user.id})}" th:object="${user}">
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>

    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <label for="roles">Select roles: </label>
    <select th:field="*{roles}" multiple size="2">
        <option th:each="role : ${allRoles}" th:value="${role.id}"
                th:text="${role.getAuthority()}" th:selected="${user.roles.contains(role)}"></option>
    </select>
    <br/>
    <input type="submit" value="Save"/>
</form>

