<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<p th:text="'ID: ' + ${user.id}">ID</p>
<p th:text="'First name: ' + ${user.firstName}">First Name</p>
<p th:text="'Last name: ' + ${user.lastName}">Last Name</p>
<p th:text="'Age: ' + ${user.age}">Age</p>
<p th:text="'Email: ' + ${user.email}">Email</p>

<p> Role:
    <span th:each="role : ${user.roles}" th:text="${role.authority} + '; '"></span>
</p>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:method="get" th:action="@{/admin/user/{id}/edit(id=${user.id})}">
        <input type="hidden" name="_method"/>
        <input type="submit" value="Edit"/>
    </form>

    <form th:method="post" th:action="@{/admin/user/{id}/delete(id=${user.id})}">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete"/>
    </form>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <form th:method="get" th:action="@{/admin/}">
        <input type="hidden" name="_method"/>
        <input type="submit" value="User list"/>
    </form>
</div>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>

</body>
</html>
