<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${user.getName() + ', ' + user.getAge()}">VALUE</p>
<p th:text="${'Email: ' + user.getEmail()}">VALUE</p>
<p th:text="${user.getId()}">VALUE</p>

<a th:href="@{/user/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/user/{id}/delete(id=${user.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>