<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>

<div th:each="user : ${users}">
    <a th:href="@{admin/user/{id}(id=${user.getId()})}"
       th:text="${user.getUsername()}">user</a>
</div>

<br/>
<hr/>

<form th:method="get" th:action="@{/admin/user/new}">
    <input type="hidden" name="_method"/>
    <input type="submit" value="New user"/>
</form>

<form th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout">
</form>

</body>
</html>